$intro-grad: linear-gradient(to bottom right, green, blue, purple);
$about-grad: linear-gradient(to bottom right, red, orange, blue);

$intro-bg: #fff;
$intro-color: #0b0340;

$about-bg: #e6e6fa;
$about-color: #0e1563;

$parents-bg: #99ff99;
$parents-color: #032609;

$pupils-bg: #fee5ac;
$pupils-color: #292903;

$techniques-bg: #badbad;
$techniques-color: #202620;

$webresources-bg: #fff;
$webresources-color: #243b91;
