$image-border-color: blue;
$grad: linear-gradient(to bottom right, green, blue, purple);
$photo-grad: linear-gradient(to bottom right, red, orange, blue);

$intro-bg: #fff;
$intro-color: #0b0340;

$about-bg: #e6e6fa;
$about-color: #0e1563;

$parents-bg: #99ff99;
$parents-color: #032609;

$pupils-bg: #fee5ac;
$pupils-color: #292903;

$techniques-bg: #badbad;
$techniques-color: #202620;

$webresources-bg: #fff;
$webresources-color: #243b91;

body {
  opacity: 0;
  padding: 0;
}

#intro-wrap {
  background-color: $intro-bg;
  color: $intro-color;

  span {
    color: #19c23d;
  }
}

#about-wrap {
  background-color: $about-bg;
  color: $about-color;

  hr {
    border-color: $about-color;
    background-color: $about-color;
    color: $about-color;
  }

  a {
    color: $about-color;
  }
}

#parents-wrap {
  scroll-padding-top: 100px;
  background-color: $parents-bg;
  color: $parents-color;
  .accordion {
    background-color: #6aeb82;
    color: $parents-color;
  }
}

#pupils-wrap {
  background-color: $pupils-bg;
  color: $pupils-color;
}

#techniques-wrap {
  background-color: $techniques-bg;
  color: $techniques-color;
  .accordion {
    background-color: #a4cca3;
    color: $techniques-color;
  }
}

#webresources-wrap {
  background-color: $webresources-bg;
  color: $webresources-color;
}

#footer {
  background-color: #1976d2;
  color: #fff;
}

.image-wrap {
  position: relative;
  background: $grad;
  padding: 6px;
  padding-bottom: 0;
  border-radius: 10px;
}

.photo-wrap {
  position: relative;
  background: $photo-grad;
  padding: 6px;
  padding-bottom: 0;
  border-radius: 10px;
}

.img {
  border-radius: 10px;
}

.quote-start {
  &:before {
    position: relative;
    left: -15px;
    top: 40px;
    content: '‟';
  }
}
.quote {
  &:after {
    content: '”';
  }
}
